/*
.phone{
    position: absolute;
    top: 148px;
    left: 363px;
    width: 247px;
    height: 505px;
    border-radius: 30px;
    border:10px solid white;
    box-sizing: border-box;
}
*/

@use '../mixins/pseudo.scss' as *;

.mobile {
  position: relative;
  top: 64px;
  width: 247px;
  height: 505px;
  margin-inline: auto;
  border: 11px solid white;
  border-radius: 30px;
  background-color: var(--mobile--background);

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 66px;
    padding-inline: 16px;
    padding-top: 15px;
    border-radius: 20px 20px 6px 6px;
    background-image: var(--gradient);

    &::after {
      @include pseudo(129px, 29px);
      top: -11px;
      left: 50%;
      translate: -50%;
      background-color: white;
      border-radius: 0 0 14px 14px;
    }
  }

  &__messages {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__message {
    width: fit-content;
    max-width: 60%;
    margin-block: 0;
    padding: 6px 9px;
    border-radius: 10px 10px 10px 4px;
    color: var(--message-color);
    background-color: var(--message-background);
    font-size: 0.5rem;
    &:nth-child(2n + 2) {
      margin-bottom: 0.5rem;
    }

    &-container {
      display: flex;
      gap: 8px;
      & > * {
        width: 40px;
        border-radius: 10px;
      }
    }

    &--right:not(&-container) {
      background-color: white;
    }

    &--right {
      align-self: flex-end;
      border-radius: 10px 10px 4px 10px;
    }

    &--last{
      margin-top: 20px;
    }

    
    &--cost{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 160px;
      background-image: var(--gradient);
      .mobile__info{
        display: flex;
        align-items: center;
        gap:8px ;
        .circle{
          height: 12px;
          width: 12px;
          border: 1px solid #e572ff7d;
          border-radius: 50%;
  
        }
        .message{
          color: white;

        
        }

      }

      .message--cost{
        
          font-size: 12px;
          font-weight: 800;
          color: white;
        
      }
    }
  }

  &__send-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 213px;
    height: 33.91px;
    margin-inline: auto;
    padding: 9px;
    background-color: white;
    border-radius: 166.95px;

  }

  &__text{
    color: #c5c9cc;
    font-size: 9px;
    text-align: center;
  }

  &__send{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
  }
}
