.title{
    font-size: 40px;
    color: var(--text-color);
    margin-top: 150px;
    text-align: center;

}

.text{
    margin-top: 24px;
    font-size: 16px;
    color:#a39da9 ;
    line-height: 28px;
    text-align: center;
}
