:root {
  /* Variables CSS */
  --bg-color: #f2f2f2;
  --gradient: linear-gradient(225deg, #e844ff, #8739ff);
  --mobile--background: #f5f3f7;
  --message-color: #9341c8;
  --message-background: #eee5f4;
  --title-color:#3E2753;
}

/* Variables SASS */
